<nav class="navbar">
    <ul class="navbar-nav">

        <!--Logo-->
        <li class="logo">
            <a href="#" class="nav-link">
                <span class="link-text">The Temptations</span>
                <fa-icon [icon]="faUserAstronaut" size="{{size}}"></fa-icon>
            </a>
        </li>


        <!--Cats-->
        <li class="nav-item">
            <a href="#" class="nav-link">
                <fa-icon [icon]="faCat" size="{{size}}"></fa-icon>
                <span class="link-text">Cats</span>
            </a>
        </li>
        <!--Aliens-->
        <li class="nav-item">
            <a href="#" class="nav-link">
                <fa-icon [icon]="faAddressBook" size="{{size}}"></fa-icon>
                <span class="link-text">Adress Book</span>
            </a>
        </li>
        <!--Anchor-->
        <li class="nav-item">
            <a href="#" class="nav-link">
                <fa-icon [icon]="faAnchor" size="{{size}}"></fa-icon>
                <span class="link-text">Anchor</span>
            </a>
        </li>
        <!--Apple-->
        <li class="nav-item">
            <a href="#" class="nav-link">
                <fa-icon [icon]="faAppleAlt" size="{{size}}"></fa-icon>
                <span class="link-text">Apple</span>
            </a>
        </li>
        <!--Apple-->
        <li class="nav-item">
            <a href="#" class="nav-link">
                <fa-icon [icon]="faCog" size="{{size}}"></fa-icon>
                <span class="link-text">Configurations</span>
            </a>
        </li>
    </ul>
</nav>

<!--
<fa-icon [icon]="faCat" [styles]="{'stroke': 'red', 'color': 'red'}" size="3x"></fa-icon>
<fa-icon [icon]="faAddressBook" size="3x"></fa-icon>
<fa-icon [icon]="faAnchor" size="3x"></fa-icon>
<fa-icon [icon]="faAppleAlt" size="3x"></fa-icon>
-->